.jumbotron{
    height:900px;
    width:'auto';
}

.container{
    border: 2px solid rgba(49, 143, 219, 0.582);   
    border-radius: 15px; 
    align-items: center;
    height:450px ;
    width: 450px;
    background-color: white;
}

img{
    margin-top: 20px;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) { 
    .jumbotron{
        height: 40%;
        width:'auto';
    }
} 

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) { 
    .jumbotron{
        height: 100%;
        width: auto;
    }
}  